<ul id="navbar">
    <li class="navbar"><a href="/" class="navbar">Home</a></li>
    <li class="navbar"><a href="/" class="navbar">Journal</a></li>
    <li class="navbar"><a href="/goals" class="navbar">Goals</a></li>
    <li class="navbar"><a href="/users/<%= current_user.id %>" class="navbar">Profile</a></li>
    <li class="navbar"><a href="/users/<%= current_user.id %>/edit" class="navbar">Edit Profile</a></li>
</ul> 