<ul id="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/">Journal</a></li>
    <li><a href="/">Goals</a></li>
    <li><a href="/users/<%= current_user.id %>">Profile</a></li>
    <li><a href="/users/<%= current_user.id %>/edit">Edit Profile</a></li>
</ul>