 <%= erb :"partials/navbar" %>

<h1>Edit</h1><br><br>
 <form method="post" action="/posts/<%= @post.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <textarea name="content" rows="10" cols="70"><%= @post.content%></textarea><br>
    <label for="theme">Please Choose a top that your post covers:</label>
        <select id="theme" name="theme"> 
            <option value="food">Food/Healthy Eating</option>
            <option value="fitness">Fitness</option>
            <option value="other">Social/Other</option>
        </select>
    <input type="submit" id="submit" value="Update">
</form>
<form method="post" action="/posts/<%= @post.id %>">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" id="delete" value="Delete">
        </form>