 <%= erb :"partials/navbar" %>

<h1><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>'s Goals</h1><br>

<div class="new_goal">
<h3>New Goal:</h3>
<form method="post" action="/goals">
<label for="name">Goal Title: </label>
  <input type="text" id="name" name="name" placeholder="New Goal...">
  <label for="description">Goal Description: </label>
  <input type="text" id="description" name="description" placeholder="Describe your goal...">
<label for="how_long">Timeframe: </label>
  <input type="text" id="how_long" name="how_long" placeholder="How long will it take to meet your goal?">
<label for="reward">Reward: </label>
  <input type="text" id="reward" name="reward" placeholder="Reward for meeting your goal...">
  <input type="submit" id="submit">
  </form>
</div>

<h3>Goals:</h3>

<%# todo list style of goals %>