<h1>Welcome to FitJournal, <%= @user.first_name %>!</h1>

<h3>Newsfeed:</h3>
<div id="new_post">
<form method="post" action="/posts">
<input type="text" name="content">
<label for="themes">Please Choose a top that your post covers:</label>
<input list="themes">
  <datalist id="themes">
    <option value="Food/Healthy Eating">
    <option value="Fitness">
    <option value="Social/Other">
  </datalist>
<input type="submit" id="submit">
</form>
</div>

<% @posts.each do |post| %>
<%# remember to remove orange class and assign it as a variable %>
    <% if post.theme == "food"%>
        <div class="posts orange">
    <% elsif post.theme == "fitness" %>
        <div class="posts yellow">
    <% else %>
        <div class="posts blue">
    <% end %>
        <div class="posts_username">
            <%= post.user.username %> 
        </div>
        <div class="posts_date">
             <%= post.updated_at.strftime('%b %d, %Y') || post.created_at.strftime('%b %d, %Y') %>
        </div><br> 
        <div class="posts_content"> 
            <%= post.content %>
        </div>
    </div>
<% end %>