<h1>Sign up for FitJournal:</h1><br><br><br>

<div id="signup_form">
<form method="POST"  action="/signup">

<label for="first_name">First Name: </label>
    <input type="text" name="first_name" id="first_name" placeholder="Your first name..."><br>
<label for="last_name">Last Name: </label>      
    <input type="text" name="last_name" id="last_name" placeholder="Your last name..."><br>
<label for="email_address">Email Address: </label>
        <input type="text" name="email_address" id="email_address" placeholder="Your email address..."><br>
<label for="username">Username: </label>
    <input type="text" name="username" id="username" placeholder="A unique username..."><br>
<label for="password_signup">Password: </label>
    <input type="password" name="password" id="password_signup"><br>
    <input type="submit" value="Signup">
</form>
</div>

 

    